.navbar {
    background: linear-gradient(135deg, #069668 0%, #048a5a 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.navitems {
    display: flex;
    list-style-type: none;
    gap: 28px;
    font-size: 18px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:visited {
  text-decoration: none;
}
